<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Manage WareHouse</li>
      <!-- Optionally, you can add icons to the links -->
      <li [routerLinkActive]="['active']"><a [routerLink]="['/']"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Dash Board</span></a></li>
      <li class="treeview" [routerLinkActive]="['active']">
        <a href="#"><i class="fa fa-link"></i> <span>Manage Products</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/product']">Attribute</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/product']">Products</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>