<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <a href="#" class="button-back"> <i class="fa fa-reply" aria-hidden="true"></i> </a>
            Products
            <small>List Products</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">Products List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-push-1 ">
                <div class="pull-right">
                    <a class="btn btn-app">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </a>
                    <a class="btn btn-app">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export
                    </a>
                </div>
            </div>

            <div class="col-md-11 col-sm-11 col-xs-12 text-center ">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> <i class="fa fa-list-ul" aria-hidden="true"></i> List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="head-table">
                                        <tr>
                                            <th>#</th>
                                            <th></th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox1">
                                                    <label for="checkbox1"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ashley</td>
                                            <td>Lynwood</td>
                                            <td>@ashow</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox2">
                                                    <label for="checkbox2"></label>
                                                </fieldset>
                                            </td>
                                            <td>Billy</td>
                                            <td>Cullen</td>
                                            <td>@cullby</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ariel</td>
                                            <td>Macy</td>
                                            <td>@arielsea</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ariel</td>
                                            <td>Macy</td>
                                            <td>@arielsea</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ariel</td>
                                            <td>Macy</td>
                                            <td>@arielsea</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ariel</td>
                                            <td>Macy</td>
                                            <td>@arielsea</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ariel</td>
                                            <td>Macy</td>
                                            <td>@arielsea</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <fieldset class="form-group">
                                                    <input type="checkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </fieldset>
                                            </td>
                                            <td>Ariel</td>
                                            <td>Macy</td>
                                            <td>@arielsea</td>
                                            <td>
                                                <a class="blue-text"><i class="fa fa-user"></i></a>
                                                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                                <a class="red-text"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>